name: CI (develop)

on:
  pull_request:
    branches: [ "develop" ]

permissions:
  contents: read

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Set up JDK 17
        uses: actions/setup-java@v4.7.1
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # ✅ CI에서만 test 프로필로 실행
      - name: Test with Spring profile (test)
        run: ./gradlew clean test -Dspring.profiles.active=test
